@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Практическая работа по дисциплине</h1>
    <p class="display-6">Виртуальные платформы в инфокоммуникации</p>
    <p>По материалам из <a href="https://metanit.com/sharp/aspnetmvc/">руководства по ASP.NET Core MVC</a>.</p>
</div>
